@charset "UTF-8";

:root {
    --cor0: #63B0F2;
    --cor1: #5C9DF2;
    --cor2: #4E8AD9;
    --cor3: #020F59;
    --cor4: #33363B;

}


.container {
    max-width: 1400px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

header {
    background-color: var(--cor2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    padding: 15px 0;
    transition: 0.3s;
}

header .logo {
    width: 50px;
}

header .logo img {
    width: 100%;
    object-fit: contain;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;

}

header .box-top-left
,
header .box-top-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a {
    color: black;
    font-size: 15px;
    font-weight: 600;
}

header a:hover {
    text-decoration: none;
}

nav a:hover {
    color: white;
    transition-duration: 1s;
}


body {
    display: flex;
    flex-direction: column;
    background-color: var(--cor0);
}

main {
    padding-top: 100px;
    background-color: white;
    border: 1px solid black;
    min-width: 280px;
    max-width: 1200px;
    margin: auto;
    border-radius: 0 0 20px 20px;
}


.img__dcb{
    display: block;
    width: 50%;
    margin: 0 auto;
}

.cor {
  display: inline-block;
  text-align: center;
  margin-left:auto; 
  height: 100px;
  width: 230px;
  line-height: 100px;
  font-weight: bold;
  color: white;
}

  .cor-verde-claro {
    background-color: #a6e775;
  }
  
  .cor-verde-escuro {
    background-color: #2ecc71;
  }
  
  .cor-laranja {
    background-color: #f39c12;
  }
  
  .cor-amarelo {
    background-color: #f1c40f;
  }
  
  .cor-vermelho {
    background-color: #e74c3c;
  }

.img__altura {
    width: 100%;
    padding: 1em 0;
    border-radius: 30px;
}

.main__titulo {
    font-size: 2em;
    text-align: center;
    color: var(--cor2);
    padding-bottom: 1em;
}

.main__destaque {
    font-weight: 700;
    font-size: 1.1em;
}

.main__paragrafo {
    text-indent: 20px;
    text-align: justify;
}

.center {
    align-items: center;
    display: flex;
}


footer { 
    text-align: center;
    font-weight: bold;
    background-color: var(--cor4);
    padding: 5px;
    margin-top: 20px;
    text-shadow: 1px 1px #00000080;
}

footer>p {
    color: white;
    text-align: center;
    font-size: 1em;
}

.gif__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.dispositivos {
    text-align: center;
}


.list__item {
    font-size: 32px;
}


@media screen and (min-width: 500px){
    header nav a {
        color: black;
        font-size: 20px;
    }
}