@charset "UTF-8";
:root {
    --cor0: #63B0F2;
    --cor1: #ACCAF2;
    --cor2: #5C9DF2;
    --cor3: #4E8AD9;
    --cor4: #020F59;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor2);
    border: 1px solid black;
}
nav{
    text-align: center;
    vertical-align: top;
    padding-bottom:20px;
}

body{
    background-color: var(--cor2);
}

main{
background-color:white;
padding: 20px;
border: 1px solid black;
min-width: 280px;
max-width: 800px;
margin: auto;
}

.container{
    display: flex;
    align-items: center;
    border: 1px solid black;
}
p{
    padding: 10px;
}